@font-face {
    font-family: RobotoThin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
}

body {
    background: url('ManImage.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadein 2s;
}

#Kindergarten, #Primarschule, #Oberstufe, #IMS {
    background-color: whitesmoke;
    font-family: RobotoThin;
    font-size: 30px;
    color: black;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

#Way {
    background-color: whitesmoke;
    font-family: RobotoThin;
    font-size: 18px;
    color: black;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

.BackgroundWay {
    background-color: whitesmoke;
    margin: 100px 300px 0px 300px;
    padding: 60px 120px 60px 120px;
    border-radius: 20px;
    opacity: 0.9;
}

#Primarschule, #Oberstufe, #IMS {
    border-top-style: solid;
    border-color: black;
    padding-top: 14px;
    border-width: 1px;
}