@font-face {
    font-family: RobotoThin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: ModernFont;
    src: url(AlegreyaSansSC-Thin.ttf);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    background: url('ManImage.jpg') no-repeat center center fixed;
    background-size: cover;
}
