@font-face {
    font-family: RobotoThin;
    src: url(Roboto-Thin.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
}
@font-face {
        font-family: ModernFont;
        src: url(AlegreyaSansSC-Thin.ttf);
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .parallax {
    /* The image used */
    background-image: url("ComputerImage.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
body {
    background: url('ManImage.jpg') no-repeat center center fixed;
    background-size: cover;
}

#HomeText {
    font-family: RobotoThin;
    font-size: 30px;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 40px;
    margin-top:240px;
}
#ContactButton {
    font-family: RobotoThin;
    font-size: 35px;
    border: 1px solid;
    border-color: whitesmoke;
    margin: 0 auto;
    width: 200px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:20px;
    padding-right:20px;
    color: whitesmoke;
    text-align:center;
    margin-bottom: 100px;
}
#Motto {
    font-family: RobotoThin;
    color: whitesmoke;
    font-size: 100px;
    margin-top:120px;
    text-align:center;
}
#ScrollDown {
    font-family: RobotoThin;
    font-size: 35px;
    border: 1px solid;
    border-color: whitesmoke;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#NavButton {
    color: whitesmoke;
    font-family: RobotoThin;
    font-size: 20px;
    text-align: center;
    margin-right: 55.3%;
    margin-left: 44.7%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
}
#SubAusbildung:hover, #SubHobbys:hover, #SubÜberMich:hover, #SubHome:hover, #SubEverythingHere:hover {
    color: #BEBEBE;
}
.Sub {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 80px;
}
#SubAusbildung, #SubHobbys, #SubHome, #SubAusbildung, #SubEverythingHere, #SubÜberMich {
    text-align: center;
    display: inline;
    margin: 20px;
    font-family: RobotoThin;
    font-size: 30px;
    color: whitesmoke;
}
#SubHome {
    margin-left: 24.5%;
}

.Sub {
    opacity: 0;
    transition: opacity 0.8s;
}

.SubNavigation:hover .Sub {
    opacity: 1;
}