@font-face {
    font-family: RobotoThin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: ModernFont;
    src: url(AlegreyaSansSC-Thin.ttf);
}

body {
}

nav {
    font-family: RobotoThin;
    color: whitesmoke;
    font-size: 37px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    padding-right: 100px;
    opacity: 0.8;
}

#Ausbildung:hover, #Hobbys:hover, #ÜberMich:hover, #Home:hover, #EverythingHere:hover {
    color: #282828;
}

#ClaudioMe {
    float: left;
    padding-right: 10px;
    margin-left: 90px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

#Home, #ÜberMich, #Hobbys, #Ausbildung, #EverythingHere {
    float: right;
    padding-left: 50px;
}



<link href="NavigationCSS.css" rel="stylesheet" / >