@font-face {
    font-family: RobotoThin;
    src: url('../Fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: RobotoRegular;
    src: url('../Fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: ModernFont;
    src: url('../Fonts/AlegreyaSansSC-Thin.ttf');
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.parallax {
    /* The image used */
    background-image: url('../Images/ComputerImage.jpg');
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

body {
    background: url('../Images/ManImage.jpg') no-repeat center center fixed;
    background-size: cover;
}

#HomeText {
    font-family: RobotoThin;
    font-size: 30px;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 40px;
    margin-top:240px;
}

#ContactButton {
    display: block;
    text-decoration: none;
    font-family: RobotoThin;
    font-size: 35px;
    border: 1px solid;
    border-color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 200px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    color: whitesmoke;
    text-align:center;
}

#Motto {
    font-family: RobotoThin;
    color: whitesmoke;
    font-size: 100px;
    margin-top:120px;
    text-align:center;
}

#ScrollDown {
    font-family: RobotoThin;
    font-size: 35px;
    border: 1px solid;
    border-color: black;
    display: block;
    text-decoration: none;
    width: 200px;
    padding: 5px 20px 5px 20px;
    color: whitesmoke;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 whitesmoke;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

#ScrollDown:hover {
  box-shadow: inset 0 100px 0 0 whitesmoke;
  color: black;
}

.Navigation {
    color: whitesmoke;
    padding-top: 10px;
    position: fixed;
    z-index: 3;
}
