@font-face {
    font-family: RobotoThin;
    src: url('../Fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../Fonts/Roboto-Regular.ttf');
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: fadein 1.2s;
}

#ClaudioMe {
    float: left;
    padding-right: 10px;
    margin-left: 90px;
}
#Beschreibung {
    font-family: RobotoThin;
    font-size: 30px;
    color: whitesmoke;
    margin-left: 820px;
    margin-right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 140px;
    border-left-style: solid;
    border-color: whitesmoke;
}
